:root {
  --title-size: 2.6rem;
  --large-size: 1.8rem;
  --body-size: 1.4rem;
  --small-size: 16px;
}

/* pp-neue-montreal-italic-latin */
@font-face {
  font-family: PP Neue Montreal;
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src:
    local("PP Neue Montreal Italic"),
    local("PPNeueMontreal-Italic"),
    url(pp-neue-montreal-italic-latin.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

/* pp-neue-montreal-bold-latin */
@font-face {
  font-family: PP Neue Montreal;
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src:
    local("PP Neue Montreal Bold"),
    local("PPNeueMontreal-Bold"),
    url(pp-neue-montreal-bold-latin.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

/* pp-neue-montreal-book-latin */
@font-face {
  font-family: PP Neue Montreal;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src:
    local("PP Neue Montreal Book"),
    local("PPNeueMontreal-Book"),
    url(pp-neue-montreal-book-latin.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}
