---
layout: layouts/base.njk
css:
- page/index.css
js:
- cursor.js
---

<header>
  <h1>
    I'm Joey <span class="hand-wave visual">👋</span>—a front-end developer
    who <em>sometimes</em> likes graphics design. My primary interests
    include cybersecurity, programming, and writing.
  </h1>
</header>

<!-- <section id="photos">
  <div><img src="/img/IMG_1339.jpg" /></div>
  <div><img src="/img/IMG_1344.jpg" /></div>
</section> -->

<section id="about">
  <p>
    I've participated in <a href="https://devpost.com/LJoey">several hackathons</a>
    using both <a href="https://flutter.dev">Flutter</a> and
    <a href="https://nextjs.org">Next.JS</a>. Besides app development, I like to
    develop random software with <a href="https://rust-lang.org">Rust</a> and
    <a href="https://python.org">Python</a>.
  </p>
  <p>
    Additionally, I'm also interested in creating music, amateur photography,
    <i><a href="https://tokipona.org">toki pona</a></i>, making electronics,
    spinning pens, and playing rhythm games.
  </p>
  <p>
      I use <a href="https://nixos.org">NixOS</a>, BTW!
  </p>
</section>
